doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main
       .container
         .card.card-content.page-404
           h1 404
           h2 Hmmm...
           h4 Apparently, there is nothing here yet!
           button.btns(onclick='goBack()') Go Back
           img.img-fluid(src='/images/avatars/1.jpg')
     
     include footer.pug
     script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
     script(src="/scripts/bootstrap.min.js")
     script.
       function goBack() {
       window.history.back();
       }
