doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main
       .container
         .card.card-content.about
           .container
             h2 About this project
             p 
               | As you can see, this is a bakery site template 🙂 Product data is provided via MongoDB. Most of the app's logic was implemented on the server side.
               | In conjunction with the customer, we decided to keep things simple and not to implement authorization.
             p
               | The app uses automatic session expiration after 3-hour user inactivity. Cookies' max-age is updated after each request to server.
             p 
               | I used 
               a(href="https://pugjs.org/")
                 i Pug 
               | as preprocessor and 
               a(href="https://mongoosejs.com/") 
                 i Mongoose 
               | for data modeling.
     
     include footer.pug
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
    
