doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title #{title} &bull; Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main     
       .container
         .card.card-content#cart-list        
           .container
             if the_user.cart.length > 0 && the_user.active === true
               h2 Shopping cart  
               table.table.table-responsive
                 thead
                   tr
                   - let content = [ " ", "Title", "Price", "Quantity", "Total", "Remove"]
                   each one in content
                     th.col-md-2(scope="col") #{one}
                   tbody
                     each product in the_user.cart
                       - let source = "/images/" + product.item.title + ".jpg"
                       - let card = "/Catalog/" + product.item.title
                       tr.cart-item
                         td 
                           a(href=card)
                             img.img-thumbnail.img-fluid(src=source)
                         td #{product.item.title}
                         td #{product.item.price} &#8364;
                         td.quantity
                           button.plus.btns
                             i.fas.fa-plus
                           input(name=`${product.id}`
                                 type="number"
                                 value=`${product.quantity}`
                                 required min="1")
                           button.minus.btns
                             i.fas.fa-minus
                         - let product_total = Number((product.item.price * product.quantity).toFixed(2))
                         td
                           ul
                             li.item-total #{product_total}
                             li &#8364;
                         td
                           button.remove_btn.btns(name=`${product.id}`)
                             i.fas.fa-trash-alt
               .alert.alert-success 
                 ul Total: 
                   li#total #{the_user.total.sum} 
                   li &#8364;
               button.btn.btn-danger(type="button" data-toggle="modal" data-target="#checkout") Checkout
             else
               h2 Your cart is empty
               a(href="/Catalog") 
                 h5 Add something
     include footer.pug
     
     // MODAL //
     - let telre = "^(\\+7|7|8)?[\\s\\-]?\\(?[489][0-9]{2}\\)?[\\s\\-]?[0-9]{3}[\\s\\-]?[0-9]{2}[\\s\\-]?[0-9]{2}$"
     - let namere = "[A-Za-zа-яА-ЯёЁ\\s]+"
     .modal#checkout
       .modal-dialog
         .modal-content
           .modal-header
             h5.modal-title Checkout
             button.close(type="button" data-dismiss="modal" aria-label="Close")
             span(aria-hidden="true") &times;
           .modal-body
             p Fields marked with * are required
             form(name="modal_form" method="POST" action="/checkout" enctype="multipart/form-data" autocomplete="off")
               .form-group
                 label(for="name") Name:
                 input.form-control(type="text" name="name" placeholder="* John Doe" minlength="3" maxlength="20" required pattern=namere)
               .form-group
                 label(for="email") E-mail:
                 input.form-control(type="email" name="email" placeholder="mail@mail.com")
               .form-group
                 label(for="phone") Phone:
                 input.form-control(type="tel" name="phone" placeholder="* +7 926 123 45 67" minlength="6" maxlength="20" required pattern=telre)
               .form-group
                 label(for="comment") Comment:
                 textarea.form-control(name="comment" placeholder="Additional information" maxlength="200")
               button.btn-lg.btn-danger(type="submit") Send
           .alert(role="alert")
              p 
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
     script(src="/js/cart.js")
