doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
     title Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main
       div.catalog
         div.container
            h1 Catalog
            .row.filters
              .dropdown
                button.btns#category.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') Category
                ul.dropdown-menu(aria-labelledby='category')
                  li
                    a.dropdown-item(role='button') Bread
                  li
                    a.dropdown-item(role='button') Pie
                  li
                    a.dropdown-item(role='button') Donut
              .dropdown
                button.btns#sortby.btn.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') Sort by
                ul.dropdown-menu(aria-labelledby='sortby')
                  li
                    a.dropdown-item(role='button') Rating &darr;
                  li
                    a.dropdown-item(role='button') Rating &uarr;
                  li
                    a.dropdown-item(role='button') Price &uarr;
                  li
                    a.dropdown-item(role='button') Price &darr;
            .row
               each p in products
                  - let source = "/images/" + p.title + ".jpg"
                  - let card = "/Catalog/" + p.title
                  - let add = "/Cart/" + p.id
                  .col-xl-3.col-lg-4.col-md-6.col-sm-6.product
                     .card
                        a(href=card)
                          img.card-img-top.img-fluid(src=source)
                          .card-body
                              h4= p.title
                              h5 #{p.price} &#8364;
                        if p.left > 0
                          form.add-to-cart(method="post" action=add style="width:100%")
                            div.btns.btns-catalog
                              input(type="submit" name=`${p.id}` value="Add to cart")
                        else
                          .btns.out-of-stock Out of stock

     include footer.pug
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
     script(src="/js/catalog.js")
