doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main
       .container
         .card.card-content
           .container
             h2 Directions:
             h4 St Petersburg, Nevsky Prospekt 66
             #map
             h2 Tel.:
             h4 +7 (900) 123-45-67
             h2 E-Mail:
             h4 baking@bread.com
     
     include footer.pug
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
     script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFdU8VqjdDMhzrAnD0389gcgT4el7IbZs&callback=initMap&libraries=&v=weekly" defer)
     script.
       let map;
        function initMap() {
          map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 59.937, lng: 30.342 },
            zoom: 15,
          });
        }
    
