footer 
  div.wallpaper
    .darken
      div.container
  div.light
    .container
      .row
        .col-md-4
          p Lorem ipsum
        .col-md-4
          p Lorem ipsum
        .col-md-4
          p Lorem ipsum
      .row
        ul
          li 
            a(href="https://twitter.com/")
              i.fab.fa-twitter
          li 
            a(href="https://facebook.com/")
              i.fab.fa-facebook
          li 
            a(href="https://instagram.com/")
              i.fab.fa-instagram
  div.dark 
    .container 
      p Baking Bread &copy; 2021
