doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title Baking Bread
     link(rel="stylesheet" href="styles/bootstrap.min.css")
     link(rel="stylesheet" href="fonts/css/all.css")
     link(rel="stylesheet" href="css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main     
     
       #welcome
         h1 Welcome to
         img.img-fluid(src="/images/logo2.png")
         
       .white-bg-section
         .content
           .text-content
             h2 Greetings!
             h4 Welcome to my e-commerce app!
             p It was built with MongoDB, Express and NodeJs. 
             p 
               | You can find out more about it in 
               a(href="/About") 
                 i the correspoding section.
           img.img-fluid(src="/images/bread1.jpg")
       .white-bg-section
         .content.reverse-sm
           img.img-fluid(src="/images/bread2.jpg")
           .text-content
             h2 Side notes
             p 
               | Project title and logo design were obviously inspired by 
               a(href="https://www.imdb.com/title/tt0903747/") 
                 i the Breaking Bad 
               | series.
             

       .darken
         .container
           #prodCarousel.carousel.slide(data-ride="carousel")
             .carousel-inner
               .carousel-item.active(data-interval="5000")
                 a(href="/Bread")
                   img.d-block(src="/images/Bread3.jpg" alt="Bread")
               each p in products
                  - let source = "/images/" + p.title + ".jpg"
                  - let card = "/Catalog/" + p.title
                  .carousel-item(data-interval="5000")
                    a(href=card)
                      img.d-block(src=source alt=`${p.title}`)
             a.carousel-control-prev(href="#prodCarousel" role="button" data-slide="prev")
               span.carousel-control-prev-icon(aria-hidden="true")
               span.sr-only Previous
             a.carousel-control-next(href="#prodCarousel" role="button" data-slide="next")
               span.carousel-control-next-icon(aria-hidden="true")
               span.sr-only Next
     
     include footer.pug
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
  
   
