nav.navbar.navbar-expand-lg.navbar-light.bg-light
  nav.navbar.justify-content-center.bb-logo
    a.navbar-brand(href="/")
      img(src="/images/logo3.png")
  button.navbar-toggler(type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation")
    span.fas.fa-bars
  div.collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto.justify-content-center
      mixin link(href, name)
        a(href=href)&attributes(attributes)= name
      - let navbar = ["Home", "Catalog", "About", "Contacts"]
      each item in navbar
        li.navbar-item.nav-link
          if item == "Home"
            +link('/', item)
          else
            +link('/'+item, item)
  div.cart-badge
    ul.navbar-nav.mr-auto
      li
        a(href="/Cart")
          i.fas.fa-shopping-basket(style="padding-right: 10px")
      li
        a(href="/Cart")
          p Shopping Cart 
      li
        a(href="/Cart")
          if the_user.active === true
            span.badge#cart-qnt #{the_user.total.quantity}
          else
            span.badge#cart-qnt 0
    div.message(aria-live='polite' aria-atomic='true')
      .toast#shopping-cart
        .toast-header
          button.ml-2.mb-1.close(type='button' data-dismiss='toast' aria-label='Close')
            span(aria-hidden='true') &times;
        .toast-body 
