doctype html
html(lang='eng')
   head
     meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no") 
     title #{title} &bull; Baking Bread
     link(rel="stylesheet" href="../styles/bootstrap.min.css")
     link(rel="stylesheet" href="../fonts/css/all.css")
     link(rel="stylesheet" href="../css/style.css")
     link(type='image/x-icon' rel='shortcut icon' href="/images/favicon.ico")
     link(type='image/png' sizes='16x16' rel='icon' href="/images/favicon-16x16.png")
     link(type='image/png' sizes='32x32' rel='icon' href="/images/favicon-32x32.png")
     link(type='image/png' sizes='96x96' rel='icon' href="/images/favicon-96x96.png")
   body
     include navbar.pug
     main
        - let source = "/images/" + product.title + ".jpg"
        - let add = "/Cart/" + product.id
        .product-template
          .container 
             .card
                .row.no-gutters
                  .col-md-6
                    img.img-card.img-responsive(src=source style="width:100%; height:auto")
                  .col-md-6
                    .card-body
                        h2= product.title
                        .stars 
                          - let n = 6;
                            while n > 1
                              - --n
                                if n <= Math.round(product.rating) && product.rating != 0
                                  i.far.fa-star.rated
                                else
                                  i.far.fa-star
                        p.text-muted Number of ratings: #{rates_qnt.length}
                        h4 #{product.price} &#8364;
                        p= product.description  
                        if product.left == 0
                           p.text-muted Out of stock
                        else if product.left <= 20
                           p.text-muted In stock: few
                        else
                           p.text-muted In stock: many
                        
                        // FORM //
                        unless product.left == 0 
                          div.quantity
                            button.plus.btns
                              i.fas.fa-plus
                            input(name="quantity" type="number" value="1" required min="1" max=`${product.left}` autocomplete="off")
                            button.minus.btns
                              i.fas.fa-minus
                          form.add-to-cart(name="add_form" action=add method="post")
                            div.btns.withcart
                              input(type="submit" value="Add to cart" name=`${product.id}`)
          .container
            .reviews
              form(name="reviews" method="post" title=`${product.title}`)
                .form-group
                  h4 Feel free to rate the product!
                  .stars 
                    - let grades = [5, 4, 3, 2, 1]
                      each i in grades          
                        input(type="radio" name=`${i}`)
                        label(for=`${i}`)
                .form-group
                  label(for="name") Name:
                  input.form-control(type="text" name="name" placeholder="* John Doe" minlength="3" maxlength="20" required)
                .form-group
                  label(for="comment") Leave your comment below:
                  textarea.form-control(name="comment" rows="3" autocomplete="off" placeholder="Hello! This is my comment" required)
                button.btns Add comment            
            .reviews.comment-section              
              h4 Comment section
              if product.reviews.length == 0
                p.comment-default.text-muted No comments yet
              else
                each rev in product.reviews
                  .comment-body
                    - let avasrc = "/images/avatars/" + rev.avatar + ".jpg"
                      img.avatar(src=avasrc)
                      img.full-size(src=avasrc)
                      ul
                        li
                          p.comment-name= rev.username
                          p.comment-date.text-muted= rev.date
                        li
                          if rev.rating > 0
                            .stars
                              - let n = 0
                              while n < rev.rating
                                - ++n
                                i.far.fa-star
                        li
                          p.comment-text= rev.text
                  
                  
     include footer.pug
     script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
     script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js")
     script(src="/scripts/bootstrap.min.js")
     script(src="/js/jquery.goup.min.js")
     script.
       jQuery(document).ready(function(){
        jQuery.goup();
       });
     script(src="/js/product.js")
      
      
