@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$enable-responsive-font-sizes: true;
$method: flexbox;

$base-color: #834627;
$base-brown: #3c0a02;
$hover-brown: #df6100;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/images/background.jpg");
}

main {
  margin: 0 auto;
  width: 100%;
}

/// general style
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $hover-brown;
    text-decoration: none;
  }
}

.goup-container {
  background-image: url("/images/arrowup.png") !important;
  background-color: transparent !important;
  bottom: 20px !important;
  width: 50px !important;
  height: 50px !important;
  .goup-arrow {
    border-color: transparent transparent #a21010 !important;
  }
}

ul {
  list-style: none;
  padding: 0
}

h1 {
  color: #fff;
  text-shadow: 2px 1px 2px black;
  @include font-size(2.5rem);
  font-weight: 600;
}
h2 {
  @include font-size(2rem);
}
h3 {
  @include font-size(1.75rem);
}
h4 {
  @include font-size(1.5rem);
}
h5 {
  @include font-size(1.25rem);
}
p {
  @include font-size(1rem);
}

//// buttons style
.btns {
  background-color: #f0f0f0;
  width: max-content;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1.25rem;
  text-align: center;
  &.btns-catalog {
    width: 100%;
  }
  input {
    background-color: inherit;
    width: inherit;
    padding: 0;
  }
  &:hover {
    background-color: #e1e1e1;
  }
  &.out-of-stock {
    background: rgba(255, 0, 0, .2);
    width: 100%;
    font-weight: 400;
    color: $base-brown;
    font-size: 1.3rem;
  }
  .fa-shopping-basket {
    padding: 0 0.25rem;
  }
  @media(max-width: 260px){
    font-size: 1rem;
    .fas, input {
      font-size: 1rem;
    }
  }
}

/// add and remove arrows
input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.quantity {
  margin-bottom: 1.5rem;
  input {
    width: 2.5em;
  }
}
// hide arrows
input[type=number] {
    -moz-appearance:textfield;
    &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
}

///// NAVBAR //////
.navbar {
  font-size: 1.1rem;
  color: $base-brown;
  .navbar-brand {
    text-align: center;
  }
  .justify-content-center li {
    align-self: center;
  }
  .cart-badge {
    @include media-breakpoint-down(md){
      width: 100%;
    }
    ul {
      justify-content: flex-end !important;
      @include media-breakpoint-down(md){
        flex-direction: row;
        justify-content: center !important;
        margin: 0 !important;
      }
    }
    li {
      align-self: center;
      p {
        margin: 0;
        font-size: 1.1rem;
        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }
    .badge {
      border-radius: 45%;
      background-color: $base-brown;
      color: #fff;
      margin: 0 10px;
      padding: 5px 0;
      width: 25px;
      @include media-breakpoint-down(md){
        background-color: $base-brown;
        margin: 0 0 0 10px;
      }
    }
  }
  &.bb-logo {
    padding: 0 1rem;
    img {
      max-height: 100px;
    }
  }
  /// dropdown menu
  .navbar-toggler{
    border-color: $base-brown;
    color: $base-brown;
  }
  .navbar-collapse .nav-link {
    color: $base-brown;
  }
}

/// toasts
.message {
  display: none;
  justify-content: center;
  position: relative;
  z-index: 3;
  @include media-breakpoint-down(md){
    right: 30vw;
  }
  @include media-breakpoint-down(sm){
    right: 10vw;
  }
  &.error-msg {
    .toast {
      color: #b70000;
      background-color: rgb(255, 113, 113);
    }
  }
  .toast {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 1rem;
    color: #014601;
    background-color: #9ae89a;
  }
  .toast-header {
    max-height: 1.8rem;
  }
  .close {
    padding-left: 90% !important;
  }
}

///// HOMEPAGE DESIGN /////
#welcome {
  display: flex;
  justify-content: center;
  background-image: url("/images/wp.jpg");
  background-position: 40%;
  height: 60vh;
  padding: 2rem 0;
  h1 {
    align-self: center;
    @include font-size(5rem);
    text-shadow: 5px 3px 0px #1e1812;
  }
  img {
    max-height: 70%;
    align-self: center;
    padding-left: 2rem;
  }
  @include media-breakpoint-down(md) {
    max-height: 20rem;
    flex-direction: column;
    img {
      padding: 0;
    }
  }
}

.white-bg-section {
  display: flex;
  background: #fff;
  .content {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    .text-content {
      padding: 3rem 2rem;
      line-height: 1.8rem;
    }
    img {
      max-width: 50%;
    }
    @include media-breakpoint-down(md){
      margin: 0 2rem;
      height: 100%;
      .text-content {
        padding: 1.5rem 1rem;
      }
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      &.reverse-sm {
        flex-direction: column-reverse;
      }
      img {
        max-width: 100%;
      }
    }
  }
}

.wallpaper {
  background: url("/images/bread.jpg");
  height: 10rem;
}

.darken {
  height: 100%;
  background: rgb(0, 0, 0, 0.3)
}

//// SLIDES ////
#prodCarousel {
  padding: 2rem 0;
  img {
    height: 45vh;
    width: 70vw;
    margin: auto;
    object-fit: cover;
  }
  @include media-breakpoint-down(md) {
    img {
      height: 35vh;
    }
  }
}

//// MAP CARD////
#map {
  height: 40vh;
  margin: 1.5rem 0;
}

/////// CATALOG PAGE ///////
.catalog {
  margin: 2rem 0;
  /// FILTERS ///
  .filters {
    padding: 1rem;
    .btns {
      margin-right: 2rem;
      @include media-breakpoint-down(xs){
        margin: 0 0.5rem 0.5rem 0;
      }
    }
  }
  .product {
    padding: 1rem;
    .card-img-top {
      width:100%;
      height:200px;
      object-fit: cover;
    }
    .card-body {
      @include media-breakpoint-down(sm){
        padding: 0.5rem;
        text-align: center;
      }
    }
  }
}


////// PRODUCT SECTION ///////
.product-template {
  margin: 2rem 0;
  .quantity {
    .btns, input {
      @include media-breakpoint-down(xs){
        width: 33%;
      }
    }
  }
  .btns {
    @include media-breakpoint-down(xs){
      width: 100%;
    }
  }
}

.stars {
  padding: 0;
  display: inline-flex;
  flex-direction: row-reverse;
  //hide default radio buttons
  input[type=radio] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
  }
  i, label {
    margin-right: 0.5rem;
    color: #737373;
  }
  //custom buttons
  label {
    position: relative;
    z-index: 1;
    cursor: pointer;
    font-family: "Font Awesome 5 Free";
    &:before{
      content: '\f005';
    }
    &:hover, &:hover ~ label{
      font-weight: 900;
      color: #ffe200;
    }
  }
  .rated {
    font-weight: 900;
    color: #ffe200;
  }
}

.reviews {
  margin-top: 2rem;
  background: #fff;
  padding: 1.25rem;
  label {
    display: inline;
  }
  textarea, input[name=name] {
    width: 50%;
    text-align: left;
    @include media-breakpoint-down(md){
      width: 70%;
    }
    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }
  i {
    font-weight: 900;
    color: #ffe200;
  }
}

.comment-section {
  .comment-body, .comment-text {
    display: flex;
    padding: 1rem 0;
  }
  .avatar {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
  }
  .full-size {
    display: none;
    position: absolute;
    &.visible {
      display: flex;
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      object-fit: cover;
    }
  }
  p {
    margin: 0;
  }
  ul {
    display: flex;
    flex-flow: column wrap;
    padding-left: 1rem;
  }
  .comment-name {
    font-weight: 600;
  }
  .stars {
    font-size: 0.8rem;
  }
  @media(max-width: 260px){
    .comment-body {
      flex-direction: column;
      padding: 0.5rem 0;
    }
    ul {
      padding-left: 0;
    }
  }
}

////// CART PAGE //////

.card-content {
  min-height: 300px;
  font-weight: 600;
  padding: 1.5rem 1rem;
  margin: 2rem 0;
  @include media-breakpoint-up(sm){
    font-size: 1.2rem;
  }
  .container {
    @include media-breakpoint-down(xs) {
      padding: ($spacer * .25);
    }
  }
  .quantity {
    display: flex;
  }
  .table {
    text-align: center;
    img {
      display: flex;
      align-content: flex-start;
      min-width: 100px;
      height: auto;
    }
  }
  .alert {
    display: flex;
    margin: 0.75rem;
    text-shadow: none;
    width: 35%;
    ul {
      margin: 0;
    }
    @include media-breakpoint-down(xs) {
      width: 70%;
      margin: 0;
    }
    @media(max-width: 260px){
      width: 100%;
    }
    #total {
      padding: 0 0.1rem 0 0.5rem;
    }
  }
  h5 {
    text-decoration: underline;
    margin-top: 2rem;
  }

  ul {
    li {
      display: inline;
      padding-right: 0.2rem;
    }
  }

  .btn-danger {
    font-size: inherit;
    font-weight: inherit;
    margin: 1.5rem 0.75rem;
    padding: 0.75rem 1.25rem;
    max-width: 100%;
    @include media-breakpoint-down(xs) {
      margin: 1.25rem 0;
    }
  }
}

//// FOOTER /////
footer {
  margin-top: auto;
  color: #575656;
  height: 5vh;
  text-align: center;
  .light {
    background-color: #f0f0f0;
    padding: 3rem 0;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
    .fab {
      font-size: 1.7rem;
      padding: 0 0.5rem;
      &.fa-facebook{
        color: #3b5998;
      }
      &.fa-instagram {
        color: #d32824;
      }
      &.fa-twitter {
        color: #00acee;
      }
    }
  }
  .dark {
    background-color: #e1e1e1;
    padding: 1rem 0;
  }
}

///// CHECKOUT FORM /////
#checkout {
  .alert {
    display: none;
  }
}

////// PAGE 404 //////
.page-404 {
  align-items: center;
  text-align: center;
  h1 {
    font-size: 20vw;
    color: $base-brown;
  }
  button {
    margin-top: 1rem;
  }
  img {
    border-radius: 50%;
    height: 25vw;
    width: 25vw;
    border: medium inset $base-brown;
    object-fit: cover;
    margin: 2rem 0;
    @include media-breakpoint-down(md) {
      height: 40vw;
      width: 40vw;
      margin: 1rem 0;
    }
  }
}

////// ABOUT PAGE //////
.about {
  font-weight: normal;
  line-height: 1.8rem;
}
